* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: skyblue;
}

button {
  padding: 10px;
  border: none;
  background-color: #fff;
  transition: all 1s ease;
}

.container {
  position: relative;
  left: -50px;
}

.search {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0%;
  left: 0%;
  border: none;
  padding: 10px;
  z-index: -1;
  transition: all 1s ease;
}

.container.active .btn {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 198px;
}

.btn {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0%;
}

.container.active .search {
  width: 200px;
}

.btn:focus,
.search:focus {
  outline: none;
}
